name: Deploy to K8s
on:
  push:
    branches: [ main ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}    
    - name: Build and Push
      run: |
        docker build -t sanasini/quiz-backend:latest ./Backend
        docker push sanasini/quiz-backend:latest
    - name: Set Kubernetes Context
      uses: azure/k8s-set-context@v1
      with:
        kubeconfig: ${{ secrets.KUBECONFIG }}
    - name: Deploy
      run: kubectl rollout restart deployment/quiz-backend